nav ul
{
  list-style-type: none;
  padding: 10px;
  background-color: rgb(231, 247, 6);
  margin-top:-8px;
  margin-left:-8px;
  margin-right: -8px;
  overflow: hidden;
}

nav ul li
{
    float: left;
    /* display: inline-block; */
   
}

nav ul li a
{
   display: block;
   color: aliceblue;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   
}

/* media query */

@media screen and  (max-width:768px) 
{  nav ul
    { 
      display: inline-block;
      padding: 10px;
      background-color: cornflowerblue;
      width:100%;
      margin-top:-8px;
      margin-left:-8px;
      margin-right: -8px;
      overflow: hidden;
    }
  
    nav ul li
{
  display:inline-block ;   
  float: none;
  margin: 0 10px;
  width:21.5%;
  
  
   
}
  nav ul li a
  {
    color:black;
    padding:45px;
    text-align:center;
  }
}
